body{
    background-color: black;
}

a{
    color: white;
}

.section_2 h3,
.title_wrap_3 h3,
.title_wrap_4 h3,
.section_5 h3{
    font-size: 64px;
    font-weight: 700;
    color: white;
}

@media screen and (max-width: 1295px) {
    
    .section_2 h3,
    .title_wrap_3 h3,
    .title_wrap_4 h3,
    .section_5 h3{
        font-size: 32px;
    }

}