@import url(../../../css/reset.css);
@import url(common.css);

header {
  width: 100%;
  height: 80px;
  padding: 22px 100px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  color: white;
}

.logo {
  width: 130px;
}

.menu_wrap {
  width: 746px;
  display: flex;
  justify-content: space-between;
}

.menu_wrap li {
  font-size: 18px;
  font-weight: 700;
}

.store_link a {
  font-size: 16px;
  font-weight: 400;
}

.sub_menu {
  font-size: 16px;
  width: 150px;
  height: 150px;
  background-color: black;
  position: absolute;
  top: 200%;
  left: -100%;
  transition: all 0.3s ease;
  padding: 35px 20px;
  opacity: 0;
  visibility: hidden;
}

.sub_menu li {
  margin-bottom: 40px;
  text-align: center;
}

.store_link {
  position: relative;
  cursor: pointer;
}

.store_link:hover .sub_menu {
  opacity: 1;
  visibility: visible;
}

.sub_menu a:hover {
  border-bottom: 1px solid #f1f1f1;
}

.menu_bar {
  display: none;
}

.sub_menu_wrap {
  display: none;
}

.sub_menu_wrap {
  width: 100%;
  height: 120vh;
  background-color: #000000;
  padding: 25px 32px;
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.5s;
}

.active {
  right: 0;
}

.menu {
  padding: 116px 32px;
}

.menu li {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}

.store_wrap {
  display: none;
  margin-left: 30px;
}

.store li {
  margin-bottom: 0;
}

.store a {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
  opacity: 0.7;
}

.store_click {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.store_click img {
  width: 60px;
  height: 30px;
  margin-top: 15px;
  margin-left: 20px;
  transition: 0.3s;
}

.close {
  width: 40px;
  position: absolute;
  top: 20px;
  right: 32px;
  cursor: pointer;
}

@media screen and (max-width: 1110px) {
  header {
    padding: 17px 32px;
  }

  .menu_wrap {
    display: none;
  }

  .menu_bar {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 60px;
    padding: 20px;
    background-color: unset;
  }

  .logo {
    width: 100px;
  }

  .menu_bar {
    width: 18px;
  }

  .sub_menu_wrap {
    padding: 20px;
  }

  .menu {
    padding: 56px 20px;
  }

  .menu li {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .store_wrap {
    margin-top: 10px;
  }

  .store li {
    margin-bottom: 0;
  }

  .store_wrap {
    display: none;
    margin-left: 20px;
  }

  .store a {
    font-size: 18px;
  }

  .store_click img {
    width: 40px;
    height: 20px;
    margin-top: 8px;
    margin-left: 10px;
  }

  .close {
    width: 24px;
    top: 16px;
    right: 20px;
  }
}
/* header end */

.section_1 {
  width: 100%;
  height: 625px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.title_wrap_1 {
  /* margin-top: 240px;
  margin-left: 145px; */
  padding: 240px 0 240px 145px;
}

.title_wrap_1 h2 {
  font-size: 64px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
}

.title_wrap_1 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -1px;
  color: white;
  opacity: 0.7;
}

.section_1 img {
  width: 874px;
}

@media screen and (max-width: 1110px) {
  .section_1 {
    height: 500px;
  }

  .title_wrap_1 {
    padding: 185px 32px;
  }

  .title_wrap_1 h2 {
    font-size: 48px;
    margin-bottom: 22px;
  }

  .title_wrap_1 p {
    font-size: 14px;
    line-height: 22px;
  }

  .section_1 img {
    width: 694px;
  }
}

@media screen and (max-width: 768px) {
  .section_1 {
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .title_wrap_1 {
    padding: 0;
    position: absolute;
    bottom: 43px;
    left: 20px;
    z-index: 20;
  }

  .title_wrap_1 h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .title_wrap_1 p {
    font-size: 12px;
    line-height: 18px;
  }

  .section_1 img {
    width: 100%;
  }
}

/* section_1 end */

.tab_menu {
  display: flex;
}

.sonylife_menu {
  width: 125px;
  height: 50px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 700;
  color: rgba(29, 29, 29, 0.7);
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}

.first_menu {
  border: none;
  background-color: #000000;
  color: white;
}

/* con_wrap_2_1 start */

.con_wrap_2 {
  margin-top: 60px;
}

.con_wrap_2_1 a {
  display: flex;
  gap: 32px;
  align-items: stretch;
}

.con_wrap_2_1 img {
  width: 50%;
  height: auto;
  max-height: 560px;
  object-fit: cover;
}

.title_wrap_2 {
  width: 50%;
  margin-top: 28px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.title_wrap_2 h3 {
  font-size: 18px;
  font-weight: 500;
  color: #1d1d1d;
}

.title_wrap_2 h2 {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 700;
  color: #1d1d1d;
}

.title_wrap_2 h4 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new_promotion {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;
  color: #808080;

  /* 데스크톱에선 줄까지만 노출 후 … */
  -webkit-line-clamp: 10;
  line-clamp: 10;
}

/* con_wrap_2_2 start */

.con_wrap_2_2 {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 50px;
}

.con_2_2 {
  margin-bottom: 10px;
}

/* .con_2_2 img {
  width: 540px;
  height: 350px;
} */

.title_wrap_2_2 {
  margin-top: 20px;
}

.title_wrap_2_2 h3 {
  font-size: 18px;
  font-weight: 500;
  color: #1d1d1d;
}

.title_wrap_2_2 h2 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #1d1d1d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title_wrap_2_2 h4 {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
}

.mo_con_wrap_2_2 {
  display: none;
}

@media screen and (max-width: 1500px) {
  .title_wrap_2_2 h3 {
    font-size: 18px;
  }

  .title_wrap_2_2 h2 {
    margin-top: 8px;
    font-size: 20px;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }

  .title_wrap_2_2 h4 {
    margin-top: 12px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1110px) {
  .sonylife_menu {
    width: 100px;
    height: 35px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 33px;
  }

  .con_wrap_2 {
    margin-top: 40px;
  }

  .con_wrap_2_1 a {
    gap: 24px;
  }

  .title_wrap_2 {
    margin-top: 0;
    margin-left: 24px;
  }

  .title_wrap_2 h3 {
    font-size: 14px;
  }

  .title_wrap_2 h2 {
    font-size: 20px;
    margin-top: 5px;
  }

  .title_wrap_2 h4 {
    font-size: 14px;
    margin-top: 14px;
  }

  /* 글 줄 수를 더 줄여서 이미지와 균형 맞춤 */
  .new_promotion {
    -webkit-line-clamp: 6; /* ← 6줄까지만 보이고 … */
    line-clamp: 6;
  }

  /* con_wrap_2_2 start */

  .con_wrap_2_2 {
    margin-top: 80px;
    gap: 30px;
  }

  .con_2_2 {
    margin-bottom: 10px;
  }

  .title_wrap_2_2 {
    margin-top: 15px;
  }

  .title_wrap_2_2 h3 {
    font-size: 15px;
  }

  .title_wrap_2_2 h2 {
    margin-top: 5px;
    font-size: 16px;
    -webkit-line-clamp: 1; /* ← 1줄까지만 보이고 … */
    line-clamp: 1;
  }

  .title_wrap_2_2 h4 {
    margin-top: 10px;
    font-size: 14px;
  }

  .mo_con_wrap_2_2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .sonylife_menu {
    width: 76px;
    height: 30px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 28px;
  }

  .con_wrap_2_1 a {
    flex-direction: column;
  }
  .con_wrap_2_1 img,
  .title_wrap_2 {
    width: 100%;
  }

  .con_wrap_2_1 a {
    gap: 10px;
  }

  .title_wrap_2 {
    margin-left: 0;
    margin-top: 10px;
  }

  .title_wrap_2 h3 {
    font-size: 12px;
  }

  .title_wrap_2 h2 {
    font-size: 18px;
    margin-top: 5px;
  }

  .title_wrap_2 h4 {
    font-size: 12px;
    margin-top: 10px;
  }

  .new_promotion {
    font-size: 12px;
    margin-top: 20px;
    line-height: 20px;
    -webkit-line-clamp: 5;
    line-clamp: 5;
  }

  /* con_wrap_2_2 start */

  .con_wrap_2_2 {
    display: none;
  }

  .mo_con_wrap_2_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    gap: 15px;
    row-gap: 30px;
  }

  .con_2_2 {
    margin-bottom: 10px;
  }

  .con_2_2 img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
  }

  .title_wrap_2_2 {
    margin-top: 10px;
  }

  .title_wrap_2_2 h3 {
    font-size: 12px;
  }

  .title_wrap_2_2 h2 {
    margin-top: 10px;
    font-size: 16px;
    -webkit-line-clamp: 1; /* ← 1줄까지만 보이고 … */
    line-clamp: 1;
  }

  .title_wrap_2_2 h4 {
    margin-top: 10px;
    font-size: 12px;
  }
}

/* section_2 ing */

footer {
  padding: 73px 100px 0;
  background-color: black;
}

footer h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
  color: white;
  opacity: 0.7;
  margin-bottom: 30px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notices {
  width: 486px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}

.footer_data {
  display: flex;
  justify-content: space-between;
}

.sns_wrap {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
}

.info {
  width: 486px;
}

.info p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;
  color: white;
  opacity: 0.7;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copylight {
  font-size: 12px;
  font-weight: 400;
  color: white;
  opacity: 0.5;
  letter-spacing: -1px;
  margin-bottom: 50px;
}

.footer_logo {
  opacity: 0.6;
}

@media screen and (max-width: 1110px) {
  footer {
    padding: 56px 30px 0;
  }

  footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .notices {
    width: 419px;
    font-size: 15px;
    margin-bottom: 26px;
  }

  .sns_wrap {
    width: 225px;
    margin-bottom: 45px;
  }

  .sns_wrap img {
    width: 70%;
  }

  .info {
    width: 420px;
  }

  .info p {
    font-size: 14px;
    line-height: 22px;
  }

  .copylight {
    margin-bottom: 20px;
  }

  .footer_logo {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer_top h3 {
    display: none;
  }

  .notices {
    font-size: 12px;
    margin: 0 auto;
  }

  .footer_data {
    flex-direction: column;
  }

  .sns_wrap {
    margin: 25px auto;
  }

  footer .business,
  footer .communication {
    display: none;
  }

  .info {
    width: 317px;
    margin: 0 auto;
  }

  .info p {
    font-size: 12px;
    line-height: 18px;
  }

  .info .residence {
    margin-bottom: 10px;
  }

  .copylight {
    font-size: 10px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
/* footer end */
